<mat-card>
    <div class="mat-table-data">
        <table mat-table [dataSource]="customers" aria-label="Customers" multiTemplateDataRows>


            <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns;">
                <th mat-header-cell *matHeaderCellDef> {{wrap(column)}} </th>
                <td mat-cell *matCellDef="let customer"> {{ customer[column] }} </td>
            </ng-container>
            <!-- 
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let row">{{row.customerId}}</td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                        <td mat-cell *matCellDef="let row">{{row.email}}</td>
                    </ng-container>

                    <ng-container matColumnDef="first name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>First name</th>
                        <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="last name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
                        <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="phone number">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone number</th>
                        <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
                    </ng-container> -->

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
                    <div class="example-element-detail" [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
                        <div class="customer-details">
                            <br>
                            <b>Details</b>
                            <p>
                                {{row.firstName}}
                                <br>
                                {{row.lastName}}
                                <br>
                                {{row.email}}
                                <br>
                                {{row.phoneNumber}}
                            </p>
                            <b>Address</b>
                            <p>
                                {{row.addressOne}}
                                <br>
                                {{row.addressTwo}}
                                <br>
                                {{row.city}}
                                <br>
                                {{row.county}}
                                <br>
                                {{row.postCode}}
                            </p>

                            <button mat-raised-button color="primary" class="mat-customer-button"
                                (click)="openEditCustomerDialog(row.customerId, row)">Edit</button>                        
                            <button mat-raised-button color="primary" (click)="openDeleteCustomerDialog(row.customerId)">Delete
                            </button>
                            
                            <br>
                            <br>
                            
                            <b>Horses</b>                        
                            <div *ngFor="let horse of row.horses;">


                                {{horse.name}}


                            </div>
                            <br>
                            <button mat-raised-button class="mat-horse-button" color="primary"
                            (click)="openAddHorseDialog(row.customerId)">Add</button>
                            <!-- <div class="spacer"></div> -->
                            <button mat-raised-button color="primary" (click)="openDeleteHorseDialog(row.horses)">Delete
                            </button>


                            <br>
                            <br>
                            <b>Users</b>
                            <div *ngFor="let user of row.users;">
                                
                                    <b>username</b>: {{user.username}}
                                    <br>
                                    <b>enabled</b>: {{user.enabled}}
                                
                                    <div *ngFor="let role of user.roles;">
                                        <b>role</b>: {{ formatRoleName(role.roleName) }}                                                                            
                                    </div>
                                    
                                    <br>
                            </div>
                            
                            <br>
                            <button mat-raised-button class="mat-horse-button" color="primary"
                                (click)="openAddUserDialog(row.customerId)">Add</button>
                            <button mat-raised-button color="primary" (click)="openDeleteUserDialog(row.users)">Delete
                            </button>
                            <br>
                            <br>
                            <!-- <div class="example-element-symbol"> {{row.addressTwo}} </div> -->

                            <!-- <div class="example-element-name"> {{element.name}} </div>
                                <div class="example-element-weight"> {{element.weight}} </div> -->
                        </div>
                        <!-- <div class="example-element-description">
                                {{row.horses}}
                                <span class="example-element-description-attribution"> -- Wikipedia </span>
                            </div> -->
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [class.example-expandedrow]="expandedRow === row"
                (click)="expandedRow = expandedRow === row ? null : row" style="width: 100%;">

            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


        </table>

    </div>
    <br>
    <button mat-raised-button color="primary" (click)="openCreateCustomerDialog()">Add Customer</button>


</mat-card>

<div class="calendar-button-container">
    <button class="calendar-button" type="button" mat-raised-button color="primary" routerLink="/bookings">
      Bookings
    </button>
    <button class="logout-button" type="button" mat-raised-button color="primary" routerLink="/login" (click)="logout()">
        Logout
      </button>
</div>