.example-form {
    width: 80%;
}


mat-form-field {
    width: 50%;
}

mat-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
}

// td {
//     color: blue;
// }

.mat-header-cell { 
    color: rgb(53, 30, 180);
}

.customer-details {
    
}

.address {
    display: inline-block;
}

.horses {
    text-align: right;
    width: 50%;
}

.horse {
    width: 100%;
}

.mat-column-right {
    text-align: center;
    text-emphasis-color: red;
}

tr.example-detail-row {
    width: 80%;
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  .example-expandedrow {
      width: 100%;
  }
  
