.example-form {
    width: 80%;
}


mat-form-field {
    width: 50%;
}



mat-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
}

// td {
//     color: blue;
// }

.mat-header-cell { 
    color: rgb(53, 30, 180);
}

.calendar-button-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99;
}

.logout-button-container {
    width: 100%;
    position: fixed;
    // z-index: 99;
}

.calendar-button {
    width: 100%;
    // position: fixed;
    z-index: 99;
}

.logout-button {
    width: 100%;
    // position: fixed;
}

.address {
    display: inline-block;
}

.horses {
    text-align: right;
    width: 50%;
}

.horse {
    width: 100%;
}

.spacer {
    width: 3%;
}

.mat-horse-button {
    margin-right: 5px;
}

.mat-customer-button {
    margin-right: 5px;
}

.button-container {
    display: inline-block;
}

.mat-column-right {
    text-align: center;
    text-emphasis-color: red;
}

tr.example-detail-row {
    width: 80%;
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  .example-expandedrow {
      width: 100%;
  }
  
