<mat-toolbar color="primary">    
    <div class="left-spacer"></div>
    <div style="text-align: center; width: 100%; display: inline-block;">
        <span>Tithe Farm Livery Stables</span>
    </div>
    <div class="right-spacer"></div>
    
    <ng-template [ngIf]="condition">
        <div>
            <button mat-button color="secondary" [routerLink]="buttonRoute" (click)="updateButtonRoute()">{{ buttonName }}</button>
            <!-- <button mat-button color="secondary" [routerLink]="'/bookings'">Bookings</button> -->
        </div>
    </ng-template>
    
</mat-toolbar>
<br>
<!-- <button mat-raised-button color='primary' routerLink="/horses">Render Horses</button> -->

<router-outlet></router-outlet>