<br>

<div class="login-container">
    <mat-card>
        <section class="mat-typography">
            <h2>Login</h2>
        </section>
        <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" (keyup)="handleKeyUp($event)">
            <mat-form-field class="loginForm">
                <input matInput placeholder="username" formControlName="username" #username>
            </mat-form-field>
            <br>
            <mat-form-field class="loginForm">
                <input matInput placeholder="password" type="password" formControlName="password" #password>
            </mat-form-field>
        </form>

        <button class="btn btn-primary" type="button" (click)="submitLoginForm()"
            [disabled]="loginForm.pristine || loginForm.invalid" mat-raised-button color="primary">
            Submit
        </button>

    </mat-card>
    <div *ngIf="loginError" class="alert alert-danger">
        <strong>invalid credentials</strong>
    </div>

</div>

<!-- <br>
<div class ="login-card">
    <mat-card>
        <section class="mat-typography">
            <h2 class="login-title">Login</h2>
        </section>
        <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
            <mat-form-field class="form-group">
                <input matInput placeholder="username" class="form-control" formControlName="username" #username>
            </mat-form-field>
            <mat-form-field class="form-group">
                <input matInput type="password" placeholder="password" class="form-control" formControlName="password" #password>
            </mat-form-field>


    
        <mat-divider></mat-divider>
        <br><br>
        <button class="btn btn-primary" type="button" (click)="submitLoginForm()" 
        [disabled]="loginForm.pristine || loginForm.invalid" mat-raised-button color="primary">Login</button>
        <div class="divider"></div>
        <button class="btn btn-primary" (click)="redirectToSignUp()" mat-raised-button color="primary">Register</button>
    </form>
    </mat-card>

</div>
<br> -->
<!-- <div *ngIf="loginError" class="alert alert-danger">
    <strong>Warning! incorrect cradentials</strong> 
</div> -->