<mat-dialog-content [formGroup]="form">
    <div class="form-container">
        <br>
        <mat-form-field class="form-group">
            <input matInput placeholder="Email" formControlName="email" #email>
        </mat-form-field>
        <br>
        <mat-form-field class="form-group">
            <input matInput placeholder="Password" formControlName="password" type="password" #password>
        </mat-form-field>
        <br>
        <mat-label>Enabled</mat-label>
        <br>
        <mat-radio-group required formControlName="enabled">
            <mat-radio-button value="true">Yes</mat-radio-button>
            <div class="spacer"></div>
            <mat-radio-button value="false" placeholder="true">No</mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
        <mat-form-field>       
            <mat-label>Role</mat-label>     
                <mat-select required formControlName='role'>
                    <mat-option *ngFor="let role of roles" [value]="role">
                        {{ role }}
                    </mat-option>
                </mat-select>
                    
        </mat-form-field>
        <br>
        
        <button mat-raised-button color="primary" style="text-align: center;" (click)="submitUserForm()"
        [disabled]="form.pristine || form.invalid">Create User</button>
        <br>

    </div>
</mat-dialog-content>