.daySwapButtons {
    text-align: center;
}

.mat-raised-button {
    width: 33%;
}

.spacer {
    display: inline-block;
    width: 0.3%;
}

.admin-button-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99;
}

.admin-button {
    width: 100%;
    // position: fixed;
    z-index: 99;
}

.logout-button {
    width: 100%;
    // position: fixed;
}